@use "../../styles/breakpoints" as media;
@use "../../styles/animations";

.page {
	position: relative;
	background-color: var(--secondary-light);

	.header {
		z-index: 9999;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
		background-color: #141414;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.subheader {
		position: fixed;
		z-index: 9999;
		min-height: 65px;
		background-color: transparent;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 3.5rem;
		padding-left: 5rem;
		top: 70px;

		.select_wrapper {
			&::before {
				content: none;
			}

			.select {
				font-size: 1rem;
				font-weight: 700;
				padding-left: 0.7rem;
				padding-right: 2.5rem;
				padding-block: 0.5rem;
				border-radius: 0px;
			}
		}
	}

	.heroBanner {
		margin-top: 4rem;
	}
}
