@use "../../styles/breakpoints" as media;

.section {
	margin-top: 4rem;
	position: relative;
	z-index: 999;
	.container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		max-width: 1700px;
		margin-inline: auto;
		min-height: calc(100vh - (70px + 3.5rem));
		margin-top: 3.5rem;

		.movieList {
			@include media.mobile {
				grid-template-columns: repeat(auto-fit, minmax(106px, 1fr));
				padding-inline: 1rem;
				gap: 0.5rem;
			}
		}
	}
}
