@use "../../styles/breakpoints" as media;
@use "../../styles/animations";

.layout {
	position: relative;
	background-color: var(--secondary-light);

	&.isTV {
		.header {
			padding-top: 0.3rem;
			font-size: 1.2rem;
			background-image: linear-gradient(180deg, rgb(0, 0, 0) 10%, transparent);
		}
	}

	.header {
		z-index: 9999;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
		background-color: #141414;
		position: fixed;
		top: 0;
		width: 100%;

		&.isTop {
			background-color: transparent;
			transition: background-color 0.3s ease-in-out;
		}

		.logo {
			width: 115px;
			padding-top: 0.2rem;
		}
	}
}
