@use "../../styles/breakpoints" as media;

.page {
	width: 100%;
	background: url(https://assets.nflxext.com/ffe/siteui/vlv3/6c884f48-f7d8-4a59-9d25-b7c138813aee/f2293c00-7031-4857-a1e1-d023ea549663/RO-en-20230807-popsignuptwoweeks-perspective_alpha_website_large.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #0000008f;
	background-blend-mode: overlay;

	.container {
		max-width: 1000px;
		height: 100vh;
		padding-inline: 2em;
		margin-top: 3em;
		margin-bottom: -25em;
		margin-inline: auto;
	}
}
