@use "../../styles/breakpoints" as media;

.wrapper {
	width: 100%;
	background: url("../../Assets/images/bannerPicture2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #0000008f;
	background-blend-mode: overlay;

	.container {
		max-width: 1000px;
		padding-inline: 2rem;
		margin-top: 3rem;
		margin-bottom: 10rem;
		margin-inline: auto;

		@include media.mobile {
			height: auto;
			margin-bottom: 5.5rem;
			padding-inline: 1.1rem;
		}
	}
}
