@use "../../styles/breakpoints" as media;

.movie-slider {
	&.isTV {
		.movie-slider_left-arrow,
		.movie-slider_right-arrow {
			width: 80px;
			background: #000000aa;
		}

		.movie-slider_left-arrow {
			svg {
				left: 25px;
			}
		}

		.movie-slider_right-arrow {
			svg {
				right: 25px;
			}
		}
	}

	.movie-slider_left-arrow {
		position: absolute;
		width: 70px;
		height: 100%;
		z-index: 9;
		fill: white;
		background: #00000082;
		cursor: pointer;

		&:hover {
			background: #000000ac;

			svg {
				width: 27px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
		}

		svg {
			position: absolute;
			top: 50%;
			left: 14px;
			transform: translateY(-50%);
		}
	}

	.movie-slider_right-arrow {
		position: absolute;
		top: 0;
		right: 0px;
		width: 72px;
		height: 100%;
		z-index: 9;
		fill: white;
		background: #00000082;
		cursor: pointer;

		&:hover {
			background: #000000ac;

			svg {
				width: 27px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
		}

		svg {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
		}
	}

	.slick-track {
		display: flex;
		gap: 1rem;

		@include media.mobile {
			gap: 0.5rem;
		}

		&::before,
		&::after {
			content: initial;
		}

		.slick-slide {
			.movie-slider_movie {
				position: relative;
				text-align: center;
				aspect-ratio: 100/123;
				outline: none;
				cursor: pointer;
				vertical-align: top;

				img {
					position: absolute;
					width: 100%;
					height: 100%;
					border-radius: 5px;
				}
			}
		}
	}
}
