.section {
	margin-top: 4rem;
	position: relative;
	z-index: 999;
	.container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		max-width: 1700px;
		margin-inline: auto;
		padding-inline: 3rem;
	}
}
