@use "../../../styles/breakpoints" as media;

.section {
	border-bottom: 8px solid #222;
	padding-block: 4.375em;
	overflow: hidden;

	@include media.mobile {
		padding-block: 3.5em;
	}
	.container {
		display: flex;
		max-width: 1225px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		gap: 3em;
		padding-inline: 3em;

		@include media.tablet_lg {
			flex-wrap: wrap;
			justify-content: center;
			gap: 0.5em;
		}

		@include media.mobile {
			padding-inline: 1.5em;
		}

		.textBox {
			flex: 0 570px;
			@include media.tablet_lg {
				text-align: center;
			}
		}

		.imageBox {
			position: relative;
			flex: 0 auto;
			overflow: hidden;
			margin-right: -2%;

			@include media.tablet_lg {
				margin-right: 0;
			}

			.image {
				object-position: 0 30px;
				margin-top: -8%;

				@include media.tablet_lg {
					margin-top: -7.5%;
				}

				@include media.mobile {
					object-position: 0 20px;
				}
			}

			.video {
				position: absolute;
				width: 62%;
				will-change: transform;
				transform: translateZ(0);
				height: auto;
				top: 30px;
				left: 19%;
				z-index: -1;
			}
		}
	}
}
