@mixin fade-down(
	$duration: 1.2s,
	$timing: ease,
	$delay: 5s,
	$iteration_count: 1,
	$direction: normal,
	$fillmode: forwards,
	$play_state: running
) {
	@keyframes fade-down {
		0% {
			opacity: 1;
			transform: translateY(0);
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 0;
			transform: translateY(95%);
			visibility: hidden;
		}
	}

	animation-name: fade-down;
	animation-duration: $duration;
	animation-timing-function: $timing;
	animation-delay: $delay;
	animation-iteration-count: $iteration_count;
	animation-direction: $direction;
	animation-fill-mode: $fillmode;
	animation-play-state: $play_state;
}

@mixin shrink(
	$duration: 1.3s,
	$timing: ease,
	$delay: 5s,
	$iteration_count: 1,
	$direction: normal,
	$fillmode: forwards,
	$play_state: running,
	$distance: 147px
) {
	@keyframes shrink {
		0% {
			transform: scale(1) translate3d(0px, 0px, 0px);
			transform-origin: left bottom;
		}

		100% {
			transform: scale(0.71) translate3d(0px, $distance, 0px); // Use the updated variable
			transform-origin: left bottom;
		}
	}

	animation-name: shrink;
	animation-duration: $duration;
	animation-timing-function: $timing;
	animation-delay: $delay;
	animation-iteration-count: $iteration_count;
	animation-direction: $direction;
	animation-fill-mode: $fillmode;
	animation-play-state: $play_state;
}
