@use "../../styles/breakpoints" as media;

.title {
	font-size: 3.1rem;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	direction: ltr;
	font-family: Ubuntu, sans-serif;
	color: #fff;
	font-weight: 600;
	margin-bottom: 0.4em;
	max-width: 800px;
	line-height: 1.3;
	margin-inline: auto;

	@include media.tablet_lg {
		font-size: 2.5rem;
	}

	@include media.mobile {
		font-size: 1.9rem;
		text-align: center;
	}
}
