@use "../../styles/breakpoints" as media;

.wrapper {
	position: relative;
	display: inline-block;

	&::after {
		content: url("../../Assets/svgs/dropDown_arrow.svg");
		position: absolute;
		right: 6.5px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;

		@include media.tablet_sm {
			transform: scale(0.9);
			top: 50%;
			transform: translateY(-50%);
			right: 5px;
		}
	}

	&::before {
		content: url("../../Assets/svgs/globe.svg");
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 6%;
		width: 17px;
		height: 16px;
		pointer-events: none;

		@include media.tablet {
			top: 50%;
			transform: translateY(-50%);
		}

		@include media.tablet_sm {
			transform: scale(0.85);
			top: 50%;
			transform: translateY(-50%);
			left: 5%;
		}
	}
	.select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 0.58em 1.9em;
		line-height: normal;
		font-size: 0.875rem;
		cursor: pointer;
		background: rgba(0, 0, 0, 0.4);
		border-radius: 3px;
		border-color: white;
		color: white;

		.option {
			appearance: none; /* Removes default styles */
			-webkit-appearance: none;
			-moz-appearance: none;
			background-color: black !important;
			color: white !important;
		}
	}
}
