@use "../../styles/breakpoints" as media;
@use "../../styles/animations";

.layout {
	position: relative;
	background-color: var(--secondary-light);

	.header {
		z-index: 9999;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
		background-color: #141414;
		position: fixed;
		top: 0;
		width: 100%;

		&.isTop {
			background-color: transparent;
		}

		.logo {
			width: 115px;
			padding-top: 0.2rem;
		}
	}

	.subHeader {
		min-height: 50px;
		padding-inline: 1rem;
		justify-content: center;

		&.isTop {
			background-color: transparent;
		}

		.navigationList {
			display: flex;
			gap: 0.8rem;
			font-size: 0.8rem;
			width: 100%;

			.listItem {
				flex: 1;
				.link {
					width: 100%;
					border-radius: 20px;
					border: 1.5px solid rgba(255, 255, 255, 0.742);
					color: rgba(255, 255, 255, 0.742);
					padding: 0.5em 1em;
					text-align: center;
				}
			}
		}
	}
}
