@use "../../styles/breakpoints" as media;
@use "../../styles/animations";

.layout {
	position: relative;
	background-color: var(--secondary-light);

	.header {
		z-index: 9999;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
		background-color: #141414;
		position: fixed;
		top: 0;
		width: 100%;

		&.isTop {
			background-color: transparent;
			transition: background-color 0.3s ease-in-out;
		}

		.logo {
			width: 115px;
			padding-top: 0.2rem;
		}
	}

	.subHeader {
		position: fixed;
		background-color: #141414;
		z-index: 9999;
		min-height: 65px;
		width: 100%;
		display: flex;
		align-items: center;
		gap: 3.5rem;
		padding-left: 5rem;
		top: 70px;
		padding-inline: 1rem;

		&.isTop {
			background-color: transparent;
			transition: background-color 0.3s ease-in-out;
		}

		.navigationList {
			display: flex;
			gap: 0.85rem;
			font-size: 0.8rem;

			.listItem {
				.link {
					border-radius: 15px;
					border: 1px solid rgba(255, 255, 255, 0.742);
					padding: 0.5em 1em;
				}
			}
		}
	}
}
