.form {
	display: flex;
	flex: 1;
	flex-direction: row-reverse;
	align-content: center;
	gap: 0.5rem;
	border-radius: 4px;
	padding: 5px;

	/* &:has(.input.active) {
		border: 1px solid rgba(255, 255, 255, 0.814);
		background-color: rgba(0, 0, 0, 0.22);
		backdrop-filter: blur(4px);
	} */

	&.active {
		border: 1px solid rgba(255, 255, 255, 0.814);
		background-color: rgba(0, 0, 0, 0.22);
		backdrop-filter: blur(4px);
	}

	.input {
		border: none;
		outline: none;
		padding: 5px;
		background-color: transparent;
		color: white;
		display: none;
		width: 0px;

		&.active {
			display: block;
			width: 100%;
		}

		&::placeholder {
			color: rgb(156, 156, 156);
		}
	}

	.button {
		border: none;
		background: transparent;
		cursor: pointer;
	}
}
