.container {
	overflow: hidden;

	.title {
		font-size: 1.4vw;
		font-weight: 600;
		margin-bottom: 1.1rem;
		margin-left: 1.45rem;
	}
}

.simpleList {
	display: grid;
	grid-template-columns: repeat(auto-fit, 264px);
	margin-inline: auto;
	gap: 1.75rem;
	width: 100%;
	justify-content: center;
	max-width: 1820px;
	padding-inline: 3rem;

	.listItem {
		aspect-ratio: 75 / 108;
		cursor: pointer;
		img {
			height: 100%;
			width: 100%;
		}
	}
}
