@use "../../styles/breakpoints" as media;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 90px;
	padding-inline: 5em;
	margin: 0 auto;
	max-width: 1825px;
	gap: 2em;

	@include media.tablet_lg {
		padding-inline: 2em;
		min-height: 87px;
	}

	@include media.mobile {
		padding-inline: 5%;
		gap: 1em;
	}

	.logo {
		padding-top: 1em;
		line-height: normal;
		width: 215px;
		min-width: 89px;

		@include media.tablet {
			padding-top: 0.5em;
			width: 140px;
		}

		@include media.tablet_sm {
			padding-top: 0.3em;
			width: 108px;
		}

		@include media.mobile {
			padding-top: 0em;
			width: 102px;
		}
	}

	.selectLanguageWrapper {
		display: flex;
		gap: 1.5em;
		align-items: center;

		.select {
			@include media.tablet_sm {
				font-size: 0.78rem;
				padding-block: 0.55em;
			}
		}

		.link {
			outline: 1px solid var(--primary);
		}

		@include media.tablet_sm {
			gap: 1em;
		}
	}
}

.nav2 {
	@extend .nav;
	max-width: none;
	min-height: 70px;

	.logo {
		width: 95px;
		padding-top: 0.4rem;

		@include media.mobile {
			width: 150px;
			padding-top: 0.5rem;
		}
	}

	.primaryNavigationContainer {
		display: flex;
		flex-shrink: 0;
		gap: 3rem;

		.primaryNavigationList {
			display: flex;
			gap: 1.5rem;
			align-items: center;

			.listItem {
				.link {
					font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
				}
			}
		}
	}

	.secondaryNavigation {
		display: flex;
		flex: 0 425px;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;
		.secondaryNavigationList {
			display: flex;
			flex-shrink: 0;
			gap: 1.5rem;
			align-items: center;
			line-height: 0;
		}
	}
}
