@use "../../styles/breakpoints" as media;

.discover {
	.featuredShow {
		margin-top: 7rem;
	}

	.moviesAndSeries {
		margin-top: -8.2rem;
		position: relative;
		z-index: 999;

		@include media.mobile {
			margin-top: 0;
			padding-top: 0;
		}
	}
}
