@use "../../styles/breakpoints" as media;

.subtitle {
	font-size: 1.625rem;
	line-height: 1.35;
	box-sizing: border-box;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	direction: ltr;
	font-family: Ubuntu, sans-serif;
	color: #fff;
	font-weight: 400;
	max-width: 800px;
	margin: 1rem auto;

	@include media.tablet_lg {
		font-size: 1.25rem;
	}

	@include media.mobile {
		font-size: 1.125rem;
		text-align: center;
	}
}

.subtitle2 {
	@extend .subtitle;

	margin: 0px;
	font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
