@use "../../styles/breakpoints" as media;

.main {
	@include media.mobile {
		margin-top: 8rem;

		&::before {
			content: "";
			position: absolute;
			background-image: linear-gradient(180deg, var(--featured-color), transparent);
			width: 100%;
			height: 105vh;
			top: 0;
		}

		.categoryWrapper {
			display: flex;
			justify-content: start;
			align-items: center;
			gap: 1rem;
			padding-inline: 1rem;
			position: relative;
			top: 5px;
		}

		.featuredShow {
			margin-top: 0rem;
			position: relative;
		}
	}

	.subheader {
		&.isTV {
			padding-top: 0.3rem;

			.select_wrapper {
				.select {
					font-size: 1.3rem;
				}
			}
		}

		&.isTop {
			background-color: transparent;
			transition: background-color 0.3s ease-in-out;
		}

		.title {
			font-size: 2.4rem;
		}

		.select_wrapper {
			background-color: var(--secondary);

			&::before {
				content: none;
			}

			.select {
				font-size: 1rem;
				font-weight: 700;
				padding-left: 0.7rem;
				padding-right: 2.5rem;
				padding-block: 0.5rem;
				border-radius: 0px;
			}
		}
	}

	.section {
		margin-top: -8.2rem;
		position: relative;
		z-index: 999;

		@include media.mobile {
			margin-top: 0;
			padding-top: 0;
		}

		.container {
			display: flex;
			flex-direction: column;
			gap: 4rem;
			min-height: 100vh;

			.simpleMovieList {
				grid-template-columns: repeat(6, minmax(100px, 1fr));
				padding-inline: 4rem;
				margin-top: 3.5rem;

				@include media.mobile {
					grid-template-columns: repeat(auto-fit, minmax(106px, 1fr));
					padding-inline: 0.5rem;
					gap: 0.5rem;
					border-radius: 5px;
					margin-top: 1rem;
				}

				img {
					border-radius: 5px;
				}
			}
		}
	}
}

.loaderWrapper {
	min-height: calc(100vh - 430px);
}
