@use "../../styles/breakpoints" as media;

.form {
	max-width: 950px;
	padding-inline: 5%;
}

.group {
	display: flex;
	justify-content: center;
	max-width: 680px;
	margin: 0 auto;

	@include media.tablet {
		max-width: 606px;
	}

	@include media.tablet_sm {
		flex-direction: column;
		gap: 1em;
		max-width: 450px;
	}

	.formInput {
		flex: 1;
	}

	.button {
		@include media.tablet {
			font-size: 1.6rem;
		}

		@include media.tablet_sm {
			width: fit-content;
			margin: 0 auto !important;
			font-size: 1.2rem;
			gap: 2px;
		}

		@include media.mobile {
			font-size: 1.05rem;
		}

		.icon {
			fill: white;

			@include media.tablet {
				width: 20px;
			}

			@include media.tablet_sm {
				width: 12px;
			}
		}
	}
}

.title {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: Ubuntu, sans-serif;
	color: #fff;
	text-align: center;
	letter-spacing: 0 !important;
	font-weight: 400;
	margin: 0 auto;
	font-size: 1.2rem;
	max-width: none;
	margin-bottom: 20px;
	line-height: 1.35;

	@include media.tablet_sm {
		margin-bottom: 1em;
		font-size: 1.1rem;
	}
}
