@use "../../../styles/breakpoints" as media;
@use "../../../styles/animations";

.section {
	padding-block: 10em;
	position: relative;
	border-bottom: 8px solid #222;

	@include media.mobile {
		padding-block: 2em;
	}

	.container {
		max-width: 950px;
		margin: 0 auto;
		text-align: center;
		padding-inline: 3em;

		@include media.tablet_sm {
			padding-inline: 2em;
		}

		@include media.mobile {
			padding-block: 3em;
			padding-inline: 1.2em;
		}

		.title {
			-webkit-text-size-adjust: 100%;
			font-size: 3.9rem;
			line-height: normal;
			margin-bottom: 0;

			@include media.tablet {
				font-size: 3.125rem;
				max-width: 640px;
			}

			@include media.tablet_sm {
				font-size: 2.5rem;
			}

			@include media.mobile {
				font-size: 2rem;
			}
		}

		.subtitle {
			-webkit-text-size-adjust: 100%;
			-webkit-font-smoothing: antialiased;
			font-family: Ubuntu, sans-serif;
			color: #fff;
			text-align: center;
			letter-spacing: 0 !important;
			font-weight: 400;
			max-width: 800px;
			margin: 1rem auto;
			font-size: 1.625rem;
			line-height: unset;

			@include media.mobile {
				font-size: 1.125rem;
			}
		}

		.registerForm {
			margin-top: 1.5em;

			@include media.tablet_sm {
				margin-top: 1em;
			}
		}
	}
	.image {
		position: absolute;
		width: 100%;
		height: calc(100% + 90px);
		left: 0;
		top: -90px;
		z-index: -1;

		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0em;
			left: 0;
			background: rgba(0, 0, 0, 0.4);
			background-image: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.8) 0,
				transparent 60%,
				rgba(0, 0, 0, 0.8)
			);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

/* Variants: */

.section2 {
	height: calc(100vh - 90px);
	border-bottom: 0;
	z-index: 9;
	position: relative;
	min-height: 700px;

	.container {
		width: 36%;
		max-width: 725px;
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 64px;
		bottom: 20%;
		gap: 1.75rem;

		.movieTitleImage {
			transform-origin: left bottom;
			transition: transform 1.3s ease;
			transition-delay: 5s;
			transform: scale(0.71) translate3d(0px, calc(1.55 * var(--subtitle-height)), 0px);

			@starting-style {
				transform: scale(1) translate3d(0px, 0px, 0px);
			}

			&.visible {
				transform: scale(1) translate3d(0px, 0px, 0px);
				transition-delay: 0s;
			}

			/* &.shrinkAnimation {
				@include animations.shrink($distance: calc(1.55 * var(--subtitle-height)));
			} */
		}

		.subtitle {
			//@include animations.fade_down();
			font-size: clamp(1.3rem, 1.2vw, 1.625rem);
			transition: opacity 1.2s ease, transform 1.2s ease;
			opacity: 0;
			transform: translate(0, 95%);
			transition-delay: 5s;

			@starting-style {
				opacity: 1;
				transform: translate(0, 0);
			}

			&.visible {
				opacity: 1;
				transform: translate(0, 0);
				transition-delay: 0s;
			}
		}

		.links_container {
			display: flex;
			gap: 1rem;

			button {
				padding-block: 0.54em;
				padding-inline: 1.45em;
				flex-shrink: 0;

				.icon {
					width: 1.55vw;
					min-width: 22px;
				}

				.text {
					position: relative;
					top: -1px;
				}
			}

			a {
				color: white;
				background: rgba(109, 109, 110, 0.7);

				.icon {
					width: 1.55vw;
					min-width: 22px;
				}
			}
		}
	}

	.image {
		position: absolute;
		width: 100%;
		height: calc(100% + 90px);
		left: 0;
		top: -90px;
		z-index: -2;

		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0em;
			left: 0;
			background: rgba(0, 0, 0, 0.4);
			background-image: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.8) 0,
				transparent 60%,
				rgba(0, 0, 0, 0)
			);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.video {
		position: absolute;
		width: 100%;
		height: calc(100% + 90px);
		left: 0;
		top: -90px;
		z-index: -1;

		&:has(video) {
			&::before {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				top: 0em;
				left: 0;
				background-image: linear-gradient(
					0deg,
					rgb(0 0 0 / 0%) 0,
					transparent 60%,
					rgb(0 0 0 / 75%)
				);
			}

			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 100%;
				bottom: -1px;
				left: 0;
				background-image: linear-gradient(
					0deg,
					rgb(20 20 20) 0,
					transparent 60%,
					rgb(20 20 20 / 50%)
				);
			}
			video {
				opacity: 0;
				transition: opacity 0.5s ease;

				&.active {
					opacity: 1;
				}
			}
		}

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0;
		}
	}
}
