@use "../../styles/breakpoints" as media;

.section {
	margin-top: 4rem;
	position: relative;
	z-index: 999;
	.container {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		max-width: 1700px;
		margin-inline: auto;
		min-height: 100vh;
		margin-top: 3.5rem;

		.movieList {
			gap: 1rem;

			@include media.mobile {
				gap: 0.5rem;
			}

			img {
				border-radius: 0;

				@include media.mobile {
					border-radius: 5px;
				}
			}
		}
	}
}
